body {
	font-family: Arial, Helvetica, sans-serif;
	color: #e2f3f5;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 3rem;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
}

a:hover {
	color: #22d1ee;
}

nav {
	width: 100%;
	font-size: 1.5rem;
	background-color: #0e153a;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
}

nav a {
	color: #e2f3f5;
	margin: 1em;
}

#welcome-section {
	height: 100vh;
	background-color: #3d5af1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#welcome-section header {
	text-align: center;
}

#welcome-section h1 {
	margin-bottom: 0;
}

#welcome-section p {
	font-size: 1.5rem;
	margin-top: 0;
}

#projects {
	background-color: #0e153a;
	padding: 15em 2em;
}

#projects h1 {
	text-align: center;
}

#projects ul {
	display: flex;
	justify-content: space-between;
}

.project-tile {
	width: 30%;
	height: auto;
	border: 5px solid #3d5af1;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #3d5af1;
}

#projects img {
	width: 100%;
}

#projects a {
	font-size: 1.5rem;
	padding: 1em;
	color: #e2f3f5;
}

#projects a:hover {
	color: #22d1ee;
}

#contact {
	padding: 15em 0;
	background-color: #3d5af1;
	text-align: center;
}

#contact ul {
	display: flex;
	justify-content: center;
}

#contact a {
	color: #e2f3f5;
	margin: 1em;
}

#contact a:hover {
	color: #22d1ee;
}

@media (max-width: 800px) {
	h1 {
		font-size: 2.5rem;
	}

	#projects ul {
		flex-wrap: wrap;
		justify-content: center;
	}

	#projects li {
		width: 40em;
		margin-bottom: 2em;
	}
}